spring:
  application:
    name: secret-key-project
    version: 1.0.0
  profiles:
    active: deploy

---
spring:
  config:
    activate:
      on-profile: prod
    import: optional:file:.env[.properties]

  mongodb:
    uri: mongodb+srv://${MONGO_USERNAME}:${MONGO_PASSWORD}@mskcluster.ppgxfer.mongodb.net/${MONGO_DATABASE}?retryWrites=true&w=majority&appName=MSKCluster

server:
  forward-headers-strategy: framework  # Habilita detección de protocolo HTTPS en producción

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000  # 24 horas en milisegundos

springdoc:
  swagger-ui:
    path: /swagger-ui-custom.html

---
# Configuración para el perfil dev + docker
spring:
  config:
    activate:
      on-profile: deploy
    import: optional:file:.env[.properties]

  mongodb:
    uri: mongodb://mongo:mongo@mongodb:27017/secretkey?authSource=admin

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

server:
  forward-headers-strategy: framework

springdoc:
  swagger-ui:
    path: /swagger-ui-custom.html